@use '../../scss/util' as u;

.rules-btn {
    color: var(--score-bg);
    letter-spacing: 2px;
    padding: u.toRem(8) u.toRem(32);
    text-transform: uppercase;
    border: solid 2px var(--header-otl);
    border-radius: 8px;
    font-size: u.toRem(18);
    bottom:u.toRem(60);
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    @include u.breakpoint('large'){
        transform: none;
        left: unset;
        right: u.toRem(25);
        bottom:u.toRem(25);
    }
}