.light {
    background-color: var(--dark-txt-clr);
    color: var(--light-txt-clr);
}

.dark {
    background-color: var(--dark-el-clr);
    color: var(--dark-txt-clr);
}

.light-section {
    background-color: var(--light-bg-clr);
}

.dark-section {
    background-color: var(--dark-bg-clr);
}

.light-clr{
    color: var(--light-txt-clr);
}

.dark-clr{
    color: var(--dark-txt-clr);
}