:root {
    --primary-font: 'Nunito Sans', sans-serif;

    --light-txt-clr: hsl(200, 15%, 8%);
    --light-input-clr: hsl(0, 0%, 52%);
    --light-bg-clr: hsl(0, 0%, 98%);
    --dark-txt-clr: hsl(0, 0%, 100%);
    --dark-el-clr: hsl(209, 23%, 22%);
    --dark-bg-clr: hsl(207, 26%, 17%);
}