@use '../../scss/util' as u;

.home {

    .controls {
        margin: u.toRem(24) auto u.toRem(32);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include u.breakpoint('large'){
            margin-top: u.toRem(48) auto;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    .countries-container {
        display: grid;
        width: u.toRem(264);
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: u.toRem(40);

        @include u.breakpoint('medium'){
            width: 100%;
            place-content: center;
            grid-template-columns: repeat(2, u.toRem(264));
            grid-template-rows: auto;
            gap: u.toRem(75);
        }

        @include u.breakpoint('large'){
            grid-template-columns: repeat(4, 1fr);
        }
    }

}