@forward './global';
@forward './layout';
@use './util' as u;

.darkmode-icon {
    font-size: u.toRem(16);

    @include u.breakpoint('medium'){
        font-size: u.toRem(20);
    }
}

.light {
    background-color: var(--light-bg-clr);
    color: var(--light-txt-clr);
}

.dark {
    background-color: var(--dark-bg-clr);
    color: var(--dark-txt-clr);
}