@use '../util' as u;

h1, h2, h3, h4, span, p, a {
    margin-top: 0;
}

.overline {
    text-transform: uppercase;
    font-size: u.toRem(10);
    color: var(--score-txt);
    letter-spacing: 2px;

    @include u.breakpoint('medium'){
        font-size: u.toRem(13);
    }
}

h1 {
    font-weight: 700;
    font-size: u.toRem(40);

    @include u.breakpoint('medium'){
        font-size: u.toRem(50);
    }
}