@use '../../scss/util' as u;

.searchbar {
    width: 100%;
    margin-bottom: u.toRem(40);
    padding: u.toRem(16) u.toRem(32);
    border-radius: 5px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);

    @include u.breakpoint('medium'){
        width: u.toRem(480);
        margin-left: 0;
        margin-bottom: u.toRem(48);
    }

    @include u.breakpoint('large'){
        margin-bottom: 0;
    }

    .fa-magnifying-glass {
        margin-right: u.toRem(26);
    }

    input[type=text]{
        font-family: inherit;
        color: inherit;
        background-color: transparent;
        border: none;
        width: 80%;

        @include u.breakpoint('medium'){
            width: 90%;
        }
    }
}